/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  color: white;
}

h3 {
  font-family: 'poppins', sans-serif;
  margin-bottom: 1rem;
  height: 40px;
  display: flex;
  align-items: center;
}

body {
  /* background-color: rgb(27, 30, 37); */
  background-color: rgb(31 33 40);
}

body::-webkit-scrollbar {
  width: 0.50rem;

}

body::-webkit-scrollbar-track {
  background-color: rgb(38 42 52);
  border-radius: 5rem
}

body::-webkit-scrollbar-thumb {
  background: rgb(103 106 114);
  border-radius: 5rem
}


.app {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  min-height: 60px;
  padding: 0 20px;
  top: 0;
  background-color: rgb(31 33 40);
  border-bottom: 1px solid rgb(38 42 52);
  z-index: 1000;
}

.app_logo {
  display: flex;
}

.app_logo img {
  min-height: 44px;
  min-width: 44px;
  height: 44px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.app_content {
  display: flex;
}

.app_left {
  flex: 0.7;
  padding: 20px;
}

.app_right {
  padding: 20px;
  flex: 0.3;
  box-shadow: none;
}

.app_stats {
  display: flex;
  flex-direction: column;
}

.mapContainer {
  min-height: 500px;
  margin-top: 2rem;
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

@media (max-width:890px) {
  .app_content {
    flex-direction: column;
  }

  .app_header {
    justify-content: space-between;
  }

  .search {
    min-width: 180px;
    padding: 0 1rem;
  }
  .infoBox__blocks{
    flex-direction: column;
  }
  .infoBox{
    margin-right: 0 !important;
    margin-bottom: 1rem;
  }
}

@media (max-width:700px) {
  .infoBox__blocks {
    flex-direction: column;
  }

  .infoBox {
    margin-bottom: 1rem;
  }

  .infoBox:not(:last-child) {
    margin-right: 0;
  }
  .graph tspan{
    font-size: 12px;
  }
 
}